# Python stuff
*.egg-info
.coverage
__pycache__
coverage.xml
cov.xml
dist
junit.xml
.python-version

notebooks/.ipynb_checkpoints

# Mac stuff
.DS_Store

# Editor specific stuff
.vscode
.idea/
*.swp

instantiated_profile.yaml
tests/jobs
